body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: center;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', 'Arial';
}

.header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    font-family: 'Press Start 2P';
    font-size: 9px;
}

.header h1 {
    padding-top: 30px;
    margin: 0 100px 20px;
}

.container {
    padding-left: 135px;
    justify-content: center;
}

.btn-container {
    justify-content: center;
    margin-top: 300px; 
}

.lists {
    display: inline-flex;
}

.list1, .list2, .btn-pos {
    padding: 0px 30px;
}

textarea {
    resize: none;
    background-color: rgb(253, 253, 244);
    border-color: black;
    border-style: double;
}

.btn-style {
    padding: 15px 30px;
    font-family: 'Press Start 2P', 'Arial';
    background-color: rgb(210, 210, 210);
}

p {
    font-family: 'Arial';
}
